cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.particle.samplecomposition.base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" xmlns:gov.nih.nci.cananolab.domain.particle.characterization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.invitro="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.physical="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" targetNamespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="OtherNanoparticleEntity" type="OtherNanoparticleEntity" />
  <xs:complexType name="OtherNanoparticleEntity">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Polymer" type="Polymer" />
  <xs:complexType name="Polymer">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="crossLinkDegree" type="xs:float" />
        <xs:attribute name="crossLinked" type="xs:boolean" />
        <xs:attribute name="initiator" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fullerene" type="Fullerene" />
  <xs:complexType name="Fullerene">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="averageDiameter" type="xs:float" />
        <xs:attribute name="averageDiameterUnit" type="xs:string" />
        <xs:attribute name="numberOfCarbon" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dendrimer" type="Dendrimer" />
  <xs:complexType name="Dendrimer">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="branch" type="xs:string" />
        <xs:attribute name="generation" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NanoparticleEntity" type="NanoparticleEntity" />
  <xs:complexType name="NanoparticleEntity">
    <xs:sequence>
      <xs:element name="sampleComposition" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.particle.samplecomposition:SampleComposition" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="labFileCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.common:LabFile" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="composingElementCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ComposingElement" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="ComposingElement" type="ComposingElement" />
  <xs:complexType name="ComposingElement">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation:AssociatedElement">
        <xs:sequence>
          <xs:element name="inherentFunctionCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.cananolab.domain.particle.samplecomposition:Function" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="nanoparticleEntity" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="NanoparticleEntity" minOccurs="0" maxOccurs="1" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantumDot" type="QuantumDot" />
  <xs:complexType name="QuantumDot">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarbonNanotube" type="CarbonNanotube" />
  <xs:complexType name="CarbonNanotube">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="averageLength" type="xs:float" />
        <xs:attribute name="averageLengthUnit" type="xs:string" />
        <xs:attribute name="chirality" type="xs:string" />
        <xs:attribute name="diameter" type="xs:float" />
        <xs:attribute name="diameterUnit" type="xs:string" />
        <xs:attribute name="wallType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MetalParticle" type="MetalParticle" />
  <xs:complexType name="MetalParticle">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Liposome" type="Liposome" />
  <xs:complexType name="Liposome">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="polymerized" type="xs:boolean" />
        <xs:attribute name="polymerName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Biopolymer" type="Biopolymer" />
  <xs:complexType name="Biopolymer">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="sequence" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Emulsion" type="Emulsion" />
  <xs:complexType name="Emulsion">
    <xs:complexContent>
      <xs:extension base="NanoparticleEntity">
        <xs:sequence />
        <xs:attribute name="polymerized" type="xs:boolean" />
        <xs:attribute name="polymerName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

