cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.nanomaterial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" xmlns:gov.nih.nci.cananolab.domain.agentmaterial="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" xmlns:gov.nih.nci.cananolab.domain.characterization="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" xmlns:gov.nih.nci.cananolab.domain.characterization.invitro="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.characterization.invivo="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" xmlns:gov.nih.nci.cananolab.domain.characterization.physical="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.function="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" xmlns:gov.nih.nci.cananolab.domain.linkage="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" targetNamespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" schemaLocation="gov.nih.nci.cananolab.domain.agentmaterial.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invivo.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" schemaLocation="gov.nih.nci.cananolab.domain.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" schemaLocation="gov.nih.nci.cananolab.domain.function.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" schemaLocation="gov.nih.nci.cananolab.domain.linkage.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="OtherNanomaterialEntity" type="OtherNanomaterialEntity" />
  <xs:complexType name="OtherNanomaterialEntity">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Polymer" type="Polymer" />
  <xs:complexType name="Polymer">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="crossLinkDegree" type="xs:float" />
        <xs:attribute name="crossLinked" type="xs:boolean" />
        <xs:attribute name="initiator" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fullerene" type="Fullerene" />
  <xs:complexType name="Fullerene">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="averageDiameter" type="xs:float" />
        <xs:attribute name="averageDiameterUnit" type="xs:string" />
        <xs:attribute name="numberOfCarbon" type="xs:integer" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dendrimer" type="Dendrimer" />
  <xs:complexType name="Dendrimer">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="branch" type="xs:string" />
        <xs:attribute name="generation" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantumDot" type="QuantumDot" />
  <xs:complexType name="QuantumDot">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CarbonNanotube" type="CarbonNanotube" />
  <xs:complexType name="CarbonNanotube">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="averageLength" type="xs:float" />
        <xs:attribute name="averageLengthUnit" type="xs:string" />
        <xs:attribute name="chirality" type="xs:string" />
        <xs:attribute name="diameter" type="xs:float" />
        <xs:attribute name="diameterUnit" type="xs:string" />
        <xs:attribute name="wallType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MetalParticle" type="MetalParticle" />
  <xs:complexType name="MetalParticle">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Liposome" type="Liposome" />
  <xs:complexType name="Liposome">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="polymerized" type="xs:boolean" />
        <xs:attribute name="polymerName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Biopolymer" type="Biopolymer" />
  <xs:complexType name="Biopolymer">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="name" type="xs:string" />
        <xs:attribute name="sequence" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Emulsion" type="Emulsion" />
  <xs:complexType name="Emulsion">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:NanomaterialEntity">
        <xs:sequence />
        <xs:attribute name="polymerized" type="xs:boolean" />
        <xs:attribute name="polymerName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

