cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.particle.samplecomposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" xmlns:gov.nih.nci.cananolab.domain.particle.characterization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.invitro="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.physical="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.base="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" targetNamespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.base.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="ImagingFunction" type="ImagingFunction" />
  <xs:complexType name="ImagingFunction">
    <xs:complexContent>
      <xs:extension base="Function">
        <xs:sequence />
        <xs:attribute name="modality" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Antigen" type="Antigen" />
  <xs:complexType name="Antigen">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
        <xs:attribute name="species" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OtherTarget" type="OtherTarget" />
  <xs:complexType name="OtherTarget">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TargetingFunction" type="TargetingFunction" />
  <xs:complexType name="TargetingFunction">
    <xs:complexContent>
      <xs:extension base="Function">
        <xs:sequence>
          <xs:element name="targetCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Target" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SampleComposition" type="SampleComposition" />
  <xs:complexType name="SampleComposition">
    <xs:sequence>
      <xs:element name="nanoparticleSample" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.particle:NanoparticleSample" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chemicalAssociationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation:ChemicalAssociation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nanoparticleEntityCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.particle.samplecomposition.base:NanoparticleEntity" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="functionalizingEntityCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization:FunctionalizingEntity" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="labFileCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.common:LabFile" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="OtherFunction" type="OtherFunction" />
  <xs:complexType name="OtherFunction">
    <xs:complexContent>
      <xs:extension base="Function">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Target" type="Target" />
  <xs:complexType name="Target">
    <xs:sequence />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Receptor" type="Receptor" />
  <xs:complexType name="Receptor">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gene" type="Gene" />
  <xs:complexType name="Gene">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Function" type="Function" />
  <xs:complexType name="Function">
    <xs:sequence />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="TherapeuticFunction" type="TherapeuticFunction" />
  <xs:complexType name="TherapeuticFunction">
    <xs:complexContent>
      <xs:extension base="Function">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

