cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.function.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" xmlns:gov.nih.nci.cananolab.domain.agentmaterial="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" xmlns:gov.nih.nci.cananolab.domain.characterization="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" xmlns:gov.nih.nci.cananolab.domain.characterization.invitro="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.characterization.invivo="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" xmlns:gov.nih.nci.cananolab.domain.characterization.physical="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.linkage="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" xmlns:gov.nih.nci.cananolab.domain.nanomaterial="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" targetNamespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" schemaLocation="gov.nih.nci.cananolab.domain.agentmaterial.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invivo.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" schemaLocation="gov.nih.nci.cananolab.domain.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" schemaLocation="gov.nih.nci.cananolab.domain.linkage.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" schemaLocation="gov.nih.nci.cananolab.domain.nanomaterial.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="ImagingFunction" type="ImagingFunction" />
  <xs:complexType name="ImagingFunction">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:Function">
        <xs:sequence />
        <xs:attribute name="modality" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Antigen" type="Antigen" />
  <xs:complexType name="Antigen">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
        <xs:attribute name="species" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OtherTarget" type="OtherTarget" />
  <xs:complexType name="OtherTarget">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TargetingFunction" type="TargetingFunction" />
  <xs:complexType name="TargetingFunction">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:Function">
        <xs:sequence>
          <xs:element name="targetCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Target" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OtherFunction" type="OtherFunction" />
  <xs:complexType name="OtherFunction">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:Function">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Target" type="Target" />
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element name="targetingFunction" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TargetingFunction" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="Receptor" type="Receptor" />
  <xs:complexType name="Receptor">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gene" type="Gene" />
  <xs:complexType name="Gene">
    <xs:complexContent>
      <xs:extension base="Target">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TherapeuticFunction" type="TherapeuticFunction" />
  <xs:complexType name="TherapeuticFunction">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:Function">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

