software/cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.characterization.physical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.agentmaterial="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" xmlns:gov.nih.nci.cananolab.domain.characterization="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" xmlns:gov.nih.nci.cananolab.domain.characterization.invitro="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.characterization.invivo="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.function="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" xmlns:gov.nih.nci.cananolab.domain.linkage="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" xmlns:gov.nih.nci.cananolab.domain.nanomaterial="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" targetNamespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.physical" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.agentmaterial" schemaLocation="gov.nih.nci.cananolab.domain.agentmaterial.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization.invivo" schemaLocation="gov.nih.nci.cananolab.domain.characterization.invivo.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.characterization" schemaLocation="gov.nih.nci.cananolab.domain.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.function" schemaLocation="gov.nih.nci.cananolab.domain.function.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.linkage" schemaLocation="gov.nih.nci.cananolab.domain.linkage.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.nanomaterial" schemaLocation="gov.nih.nci.cananolab.domain.nanomaterial.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.5/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="PhysicoChemicalCharacterization" type="PhysicoChemicalCharacterization" />
  <xs:complexType name="PhysicoChemicalCharacterization">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle:Characterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Purity" type="Purity" />
  <xs:complexType name="Purity">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhysicalState" type="PhysicalState" />
  <xs:complexType name="PhysicalState">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Size" type="Size" />
  <xs:complexType name="Size">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Surface" type="Surface" />
  <xs:complexType name="Surface">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
        <xs:attribute name="isHydrophobic" type="xs:boolean" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shape" type="Shape" />
  <xs:complexType name="Shape">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
        <xs:attribute name="aspectRatio" type="xs:float" />
        <xs:attribute name="maxDimension" type="xs:float" />
        <xs:attribute name="maxDimensionUnit" type="xs:string" />
        <xs:attribute name="minDimension" type="xs:float" />
        <xs:attribute name="minDimensionUnit" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MolecularWeight" type="MolecularWeight" />
  <xs:complexType name="MolecularWeight">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Relaxivity" type="Relaxivity" />
  <xs:complexType name="Relaxivity">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Solubility" type="Solubility" />
  <xs:complexType name="Solubility">
    <xs:complexContent>
      <xs:extension base="PhysicoChemicalCharacterization">
        <xs:sequence />
        <xs:attribute name="criticalConcentration" type="xs:float" />
        <xs:attribute name="criticalConcentrationUnit" type="xs:string" />
        <xs:attribute name="isSoluble" type="xs:boolean" />
        <xs:attribute name="solvent" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

