software/cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.particle.characterization.invitro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" xmlns:gov.nih.nci.cananolab.domain.particle.characterization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.physical="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.base="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" targetNamespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.base.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="OxidativeStress" type="OxidativeStress" />
  <xs:complexType name="OxidativeStress">
    <xs:complexContent>
      <xs:extension base="Toxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComplementActivation" type="ComplementActivation" />
  <xs:complexType name="ComplementActivation">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Immunotoxicity" type="Immunotoxicity" />
  <xs:complexType name="Immunotoxicity">
    <xs:complexContent>
      <xs:extension base="Toxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnzymeInduction" type="EnzymeInduction" />
  <xs:complexType name="EnzymeInduction">
    <xs:complexContent>
      <xs:extension base="Toxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NKCellCytotoxicActivity" type="NKCellCytotoxicActivity" />
  <xs:complexType name="NKCellCytotoxicActivity">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlateletAggregation" type="PlateletAggregation" />
  <xs:complexType name="PlateletAggregation">
    <xs:complexContent>
      <xs:extension base="BloodContact">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chemotaxis" type="Chemotaxis" />
  <xs:complexType name="Chemotaxis">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Coagulation" type="Coagulation" />
  <xs:complexType name="Coagulation">
    <xs:complexContent>
      <xs:extension base="BloodContact">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hemolysis" type="Hemolysis" />
  <xs:complexType name="Hemolysis">
    <xs:complexContent>
      <xs:extension base="BloodContact">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CFU_GM" type="CFU_GM" />
  <xs:complexType name="CFU_GM">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImmuneCellFunction" type="ImmuneCellFunction" />
  <xs:complexType name="ImmuneCellFunction">
    <xs:complexContent>
      <xs:extension base="Immunotoxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvitroCharacterization" type="InvitroCharacterization" />
  <xs:complexType name="InvitroCharacterization">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.cananolab.domain.particle.characterization:Characterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cytotoxicity" type="Cytotoxicity" />
  <xs:complexType name="Cytotoxicity">
    <xs:complexContent>
      <xs:extension base="Toxicity">
        <xs:sequence />
        <xs:attribute name="cellDeathMethod" type="xs:string" />
        <xs:attribute name="cellLine" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Phagocytosis" type="Phagocytosis" />
  <xs:complexType name="Phagocytosis">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CytokineInduction" type="CytokineInduction" />
  <xs:complexType name="CytokineInduction">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CellViability" type="CellViability" />
  <xs:complexType name="CellViability">
    <xs:complexContent>
      <xs:extension base="Cytotoxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Caspase3Activation" type="Caspase3Activation" />
  <xs:complexType name="Caspase3Activation">
    <xs:complexContent>
      <xs:extension base="Cytotoxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeukocyteProliferation" type="LeukocyteProliferation" />
  <xs:complexType name="LeukocyteProliferation">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlasmaProteinBinding" type="PlasmaProteinBinding" />
  <xs:complexType name="PlasmaProteinBinding">
    <xs:complexContent>
      <xs:extension base="BloodContact">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OxidativeBurst" type="OxidativeBurst" />
  <xs:complexType name="OxidativeBurst">
    <xs:complexContent>
      <xs:extension base="ImmuneCellFunction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BloodContact" type="BloodContact" />
  <xs:complexType name="BloodContact">
    <xs:complexContent>
      <xs:extension base="Immunotoxicity">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Toxicity" type="Toxicity" />
  <xs:complexType name="Toxicity">
    <xs:complexContent>
      <xs:extension base="InvitroCharacterization">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

