software/cananolab-grid/schema/CaNanoLabService/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" xmlns:gov.nih.nci.cananolab.domain.common="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" xmlns:gov.nih.nci.cananolab.domain.particle="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" xmlns:gov.nih.nci.cananolab.domain.particle.characterization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.invitro="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" xmlns:gov.nih.nci.cananolab.domain.particle.characterization.physical="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.base="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" xmlns:gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" targetNamespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.chemicalassociation" elementFormDefault="qualified">
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.common" schemaLocation="gov.nih.nci.cananolab.domain.common.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.invitro" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.invitro.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization.physical" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.physical.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.characterization" schemaLocation="gov.nih.nci.cananolab.domain.particle.characterization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.base" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.base.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.functionalization.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle.samplecomposition" schemaLocation="gov.nih.nci.cananolab.domain.particle.samplecomposition.xsd" />
  <xs:import namespace="gme://caNanoLab.caBIG/1.4/gov.nih.nci.cananolab.domain.particle" schemaLocation="gov.nih.nci.cananolab.domain.particle.xsd" />
  <xs:element name="AssociatedElement" type="AssociatedElement" />
  <xs:complexType name="AssociatedElement">
    <xs:sequence />
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="molecularFormula" type="xs:string" />
    <xs:attribute name="molecularFormulaType" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:float" />
    <xs:attribute name="valueUnit" type="xs:string" />
  </xs:complexType>
  <xs:element name="OtherChemicalAssociation" type="OtherChemicalAssociation" />
  <xs:complexType name="OtherChemicalAssociation">
    <xs:complexContent>
      <xs:extension base="ChemicalAssociation">
        <xs:sequence />
        <xs:attribute name="type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Encapsulation" type="Encapsulation" />
  <xs:complexType name="Encapsulation">
    <xs:complexContent>
      <xs:extension base="ChemicalAssociation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChemicalAssociation" type="ChemicalAssociation" />
  <xs:complexType name="ChemicalAssociation">
    <xs:sequence>
      <xs:element name="associatedElementB" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AssociatedElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="associatedElementA" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AssociatedElement" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="labFileCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="gov.nih.nci.cananolab.domain.common:LabFile" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="createdBy" type="xs:string" />
    <xs:attribute name="createdDate" type="xs:dateTime" />
    <xs:attribute name="description" type="xs:string" />
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="Attachment" type="Attachment" />
  <xs:complexType name="Attachment">
    <xs:complexContent>
      <xs:extension base="ChemicalAssociation">
        <xs:sequence />
        <xs:attribute name="bondType" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

